@model IEnumerable<Product>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Products</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Product" asp-action="CreateUpdate" class="btn btn-dark">New product</a>
        </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" width="20%">@Html.Raw(@item.Name)</td>
                        <td class="text-center" width="30%">@Html.Raw(@item.Description)</td>
                        <td class="text-center" width="10%">@item.Price</td>
                        <td class="text-center"><img width="100" src="@Settings.ImagePath@item.Image" alt="@item.Name" /></td>
                        @if(item.Category == null)
                        {
                            <td class="text-center" width="20%">uncategorized</td>
                        }
                        else
                        {
                                <td class="text-center" width="20%">@Html.Raw(@item.Category.Name)</td>
                        }
                        <td class="btn-group w-100">
                            <a class="btn btn-warning mx-2" asp-controller="Product" asp-route-Id="@item.Id" asp-action="CreateUpdate">Edit</a>
                            <a class="btn btn-danger mx-2" asp-controller="Product" asp-route-Id="@item.Id" asp-action="Delete">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>Products not found</p>
        }
    </div>
</div>