@model Product

<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="@Settings.ImagePath@Model.Image" alt="@Model.Name" />
        </div>
        <div class="m-4 col-xs-5">
            <h3>@Model.Name</h3>
            <h5 style="color:#337ab7">Category: <a href="#">@Model.Category.Name</a></h5>

            <h6 class="title-price"><small>Price</small></h6>
            <h3 style="margin-top:0px;">$ @Model.Price</h3>

            <div class="section p-3">
                <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add to cart</button>
            </div>
        </div>

        <div class="col-xs-9">
            <ul class="menu-items">
                <li class="active">Description</li>
                <li>Short description</li>
            </ul>
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                        @Html.Raw(Model.Description)
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>